<mat-card>
  <mat-card-title>Actions</mat-card-title>
  <mat-card-content>
    <button mat-stroked-button class="uitesting-create-individual-button" drmCommandButton [command]="createIndividualCommand">Create</button>
    <button mat-stroked-button class="uitesting-edit-individual-button" drmCommandButton [command]="editIndividualCommand">Edit</button>
    <button mat-stroked-button class="uitesting-delete-individual-button" drmCommandButton [command]="deleteIndividualCommand" color="accent">Delete</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Individuals</mat-card-title>
  <mat-card-content>
    <drm-mat-table (selectionChanged)="rowSelectionChanged($event)" [columnDefinitions]="columnDefinitions" [data]="individuals"></drm-mat-table>
  </mat-card-content>
</mat-card>
<p>